/* // HOMEPAGE HEADER ANIMATION
.field--item:first-child {
  .paragraph {
    .header-content,
    .campaign-content,
    .field--name-field-text {
        animation: 5s slide-up;
        margin-top:auto;
    }
  }
}

@keyframes slide-up {
  from {
    margin-top:50%;
    height: -300%;
  }
  
  to {
    margin-top: auto;
    height: 50%;
  }
}
*/

// HEADER TEXT FADE IN ANIMATION
.field--item:first-child {
  .paragraph {
    .header-content,
    .campaign-content,
    .field--name-field-text {
    	animation: cssload-breathe 8.05s ease infinite;
    		-o-animation: cssload-breathe 8.05s ease infinite;
    		-ms-animation: cssload-breathe 8.05s ease infinite;
    		-webkit-animation: cssload-breathe 8.05s ease infinite;
    		-moz-animation: cssload-breathe 8.05s ease infinite;
    }
  }  
}  

@keyframes cssload-breathe {
	0% {
		letter-spacing: 0;
		text-shadow: 0 0 1px white;
	}
	30% {
		color: transparent;
	}
	50% {
		letter-spacing: 97px;
		font-size: 0;
		text-shadow: 0 0 6px white;
	}
	60% {
		color: transparent;
	}
	100% {
		letter-spacing: 0;
		text-shadow: 0 0 1px white;
	}
}

@-o-keyframes cssload-breathe {
	0% {
		letter-spacing: 0;
		text-shadow: 0 0 1px white;
	}
	30% {
		color: transparent;
	}
	50% {
		letter-spacing: 97px;
		font-size: 0;
		text-shadow: 0 0 6px white;
	}
	60% {
		color: transparent;
	}
	100% {
		letter-spacing: 0;
		text-shadow: 0 0 1px white;
	}
}

@-ms-keyframes cssload-breathe {
	0% {
		letter-spacing: 0;
		text-shadow: 0 0 1px white;
	}
	30% {
		color: transparent;
	}
	50% {
		letter-spacing: 97px;
		font-size: 0;
		text-shadow: 0 0 6px white;
	}
	60% {
		color: transparent;
	}
	100% {
		letter-spacing: 0;
		text-shadow: 0 0 1px white;
	}
}

@-webkit-keyframes cssload-breathe {
	0% {
		letter-spacing: 0;
		text-shadow: 0 0 1px white;
	}
	30% {
		color: transparent;
	}
	50% {
		letter-spacing: 97px;
		font-size: 0;
		text-shadow: 0 0 6px white;
	}
	60% {
		color: transparent;
	}
	100% {
		letter-spacing: 0;
		text-shadow: 0 0 1px white;
	}
}

@-moz-keyframes cssload-breathe {
	0% {
		letter-spacing: 0;
		text-shadow: 0 0 1px white;
	}
	30% {
		color: transparent;
	}
	50% {
		letter-spacing: 97px;
		font-size: 0;
		text-shadow: 0 0 6px white;
	}
	60% {
		color: transparent;
	}
	100% {
		letter-spacing: 0;
		text-shadow: 0 0 1px white;
	}
}