.page-node-type-page {
  .field--item {
    &:first-child {
      .paragraph--type--header {
        background:url(../images/header_bg.png) no-repeat center center;
        height: 570px;
        overflow: hidden;
        background-size: cover;
        .header-content {
          display: inline-table;
          height: auto;
        }
        .field--name-field-title {
          font-family: $font-family-semibold;
          font-size: 56px;
          text-transform: none;
        }
        .field--name-field-subtitle {
          font-family: $font-family-base;
          font-size: 56px;
          margin-top:20px;
        }
      }
    }
  }
  .paragraph--type--text {
    font-family: $font-family-light;
    text-align: left;
      h1,
      h2,
      h3,
      h4 {
      max-width: 940px;
      margin:35px auto 50px;
    }
    h1 {
      font-size: 55px;
    }
    h2 {
      font-size: 45px;
    }
    h3 {
      font-size: 35px;
    }
    h4 {
      font-size: 26px;
    }
  }
}