.path-node-51 {
  #trigger-overlay {
    background:transparent url(../images/menu_toggle_black.png) no-repeat center center;
  }
  .paragraph--type--text {
    position: relative;
    background: url(../images/bureaublad_rj-3.jpg) no-repeat center center;
    background-size: cover;
    font-family: $font-family-light;
    font-size: 20px;
    text-align: left;
    p {
      &:last-child {
        margin-bottom: 220px;
      }
    }
    h1 {
      font-family: $font-family-base;
      font-size: 59px;
    }
    h3 {
      font-family: $font-family-medium;
      font-size: 25px;
      margin: 45px auto 40px !important;
    }
    h1,
    h2,
    h3 {
      max-width: 940px;
      margin:20px auto 10px;
      text-transform: none;
    }
    .social-media {
      position: absolute;
      left:80px;
      bottom:50px;
      font-size: 15px;
      text-transform: uppercase;
      a {
        float:left;
        text-indent: -9999px;
        width: 24px;
        height: 24px;
        text-decoration: none;
        margin-right: 10px;
        &.facebook {
          background:url(../images/facebook.png) no-repeat center center;
          &:hover {
            background: url(../images/facebook_hover.png) no-repeat center center;
          }
        }
        &.linkedin {
          background:url(../images/linkedin.png) no-repeat center center;
          &:hover {
            background:url(../images/linkedin_hover.png) no-repeat center center;
          }
        }
        &.instagram {
          background:url(../images/instagram.png) no-repeat center center;
          &:hover {
            background:url(../images/instagram_hover.png) no-repeat center center;
          }
        }
        &.twitter {
          background:url(../images/twitter.png) no-repeat center center;
          &:hover {
            background:url(../images/twitter_hover.png) no-repeat center center;
          }
        }         
      }
    }
  }
  .paragraph--type--image {
    margin: 0 15px 15px;
  }
  .field--name-field-paragraphs {
    position: relative;
  }
  .field--name-field-scroll-down {
    display: block !important;
    opacity: 1;
    a {
      font-family: $font-family-light;
      font-size: 20px;
      position: absolute;
      bottom: 50px;
      left:0;
      right: 0;
      margin: auto;
      width: 90px;
      height: 80px;
      background:url(../images/arrow_down_black.png) no-repeat center bottom;
      text-align: center;
      text-decoration: none;
      transition:all 0.5s ease-in-out;
      &:hover {
        transform: translateY(30%);
      }  
      &.career {
        display: none;
      }
    }
  }
}