.path-node-51 {
  .paragraph--type--text {
    font-family: $font-family-light;
    font-size: 20px;
    text-align: left;
    p {
      &:last-child {
        margin-bottom: 220px;
      }
    }
    h1 {
      font-family: $font-family-base;
      font-size: 59px;
    }
    h3 {
      font-family: $font-family-medium;
      font-size: 25px;
      margin: 45px auto 40px !important;
    }
    h1,
    h2,
    h3 {
      max-width: 940px;
      margin:20px auto 10px;
      text-transform: none;
    }
    .social-media {
      position: absolute;
      left:95px;
      bottom:50px;
      font-size: 15px;
      text-transform: uppercase;
      a {
        text-decoration: none;
      }
    }
  }
}