.path-node-51 {
  #trigger-overlay {
    background:transparent url(../images/menu_toggle_black.png) no-repeat center center;
  }
  .paragraph--type--text {
    position: relative;
    background: url(../images/bureaublad_rj-3.jpg) no-repeat center center;
    background-size: cover;
    font-family: $font-family-light;
    font-size: 20px;
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;
    p {
      &:last-child {
        margin-bottom: 220px;
      }
    }
    h1 {
      font-family: $font-family-base;
      font-size: 40px;
      @media #{$screen-tablet} {
        font-size: 45px;
      }
      @media #{$screen-desktop} {
        font-size:55px;
      }
      @media #{$screen-lg-desktop} {
        font-size: 59px;
      }
    }
    h3 {
      font-family: $font-family-medium;
      font-size: 20px;
      margin: 45px auto 40px !important;
      @media #{$screen-desktop} {
        font-size: 25px;
      }
    }
    h1,
    h2,
    h3 {
      max-width: 940px;
      margin:20px auto 10px;
      text-transform: none;
    }
    .social-media {
      position: absolute;
      left:15px;
      bottom:135px;
      font-size: 15px;
      text-transform: uppercase;
      @media #{$screen-tablet} {
        left:30px;
      }
      @media #{$screen-desktop} {
        left: 80px;
      }
      a {
        float:left;
        text-indent: -9999px;
        width: 24px;
        height: 24px;
        text-decoration: none;
        margin-right: 10px;
        &.facebook {
          background:url(../images/xxs-facebook.png) no-repeat center center;
          opacity: 1;
          &:hover {
            opacity: .8;
          }
        }
        &.linkedin {
          background:url(../images/xxs-linkedin.png) no-repeat center center;
          &:hover {
            opacity: .8;
          }
        }
        &.instagram {
          background:url(../images/xxs-instagram.png) no-repeat center center;
          &:hover {
            opacity: .8;
          }
        }
        &.twitter {
          background:url(../images/xxs-twitter.png) no-repeat center center;
          &:hover {
            opacity: .8;
          }
        }         
      }
    }
  }
  .paragraph--type--image {
    margin: 0 15px 15px;
  }
  .field--name-field-paragraphs {
    position: relative;
  }
  .field--name-field-scroll-down {
    display: block !important;
    opacity: 1;
    a {
      font-family: $font-family-light;
      font-size: 20px;
      position: absolute;
      bottom: 110px;
      left:0;
      right: 0;
      margin: auto;
      width: 90px;
      height: 80px;
      background:url(../images/arrow_down_black.png) no-repeat center bottom;
      text-align: center;
      text-decoration: none;
      transition:all 0.5s ease-in-out;
      cursor: pointer;
      @media #{$screen-tablet} {
        bottom: 80px;
      }
      &:hover {
        transform: translateY(30%);
      }  
      &.career {
        display: none;
      }
    }
  }
  #map {
    height: 100vh;
    width: 100%;
  }
  .field--item {
    &:nth-child(2) {
      .paragraph--type--text {
        padding: 0 0 15px;
        .container {
          width: 100%;
          padding: 0;
        }
      }
    }
  }
}