// LIKES OVERVIEW
.path-like {
  background: url(../images/lines_bg.png) repeat-y center center;
  background-size: cover;
  #trigger-overlay {
    background:transparent url(../images/menu_toggle_black.png) no-repeat center center;
  }
}

.view-likes {
  .views-row {
    position: relative;
    min-height: 390px;
    background-color: $gray-light;
    float:left;
    width: 100%;
    color: $black;
    margin: 7.5px 0;
    -webkit-transition: width .2s ease-in-out,margin .2s ease-in-out,-webkit-transform .75s ease;
    transition:width .2s ease-in-out,margin .2s ease-in-out,transform .75s ease,-webkit-transform .75s ease;
    @media #{$screen-tablet} {
      width: 31%;
      margin: 7.5px;
    }
    @media #{$screen-desktop} {
      min-height: 485px;
      width: 30%;
      margin: 15px;
    }
    @media #{$screen-desktop} {
      &:hover {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
        .views-field-view-node {
          a {
            opacity: 1;
          }
        }
        .field--name-field-image {
          img {
            -moz-transform: scale(1.1);
            -o-transform: scale(1.1);
            -ms-transform: scale(1.1);
            -webkit-transform: scale(1.1);
            transform: scale(1.1);
          }
        }
      }
    }  
    .views-field-created {
      float:left;
      width: 100%;
      padding: 20px 15px 0;
      font-size: 16px;
      @media #{$screen-tablet} {
        padding: 20px 20px 0;
      }
      @media #{$screen-desktop} {
        font-size: 23px;
        padding: 20px 30px 0;
      }
    }
    .views-field-view-node {
      position: absolute;
      bottom: 0;
      left: 0;
      padding:50px 15px 15px;
      @media #{$screen-tablet} {
        padding: 50px 20px 20px;
      }
      @media #{$screen-desktop} {
        padding: 50px 30px 30px;
      }      
      a {
        display: inline-block !important;
        -webkit-transition: .5s ease-in-out;
        transition:.5s ease-in-out;
        background:url(../images/arrow_right.png) no-repeat right center;
        font-family: $font-family-semibold;
        font-size: 20px;
        padding:3px 30px 3px 0;
        &:hover {
          transform:translateX(15%);
        }
      }
    }
  }
  ul {
    margin: 0;
    padding: 0;
    li {
      list-style-type: none;
    }
  }
  .paragraph--type--header {
    background: transparent;
    height: auto;
    width: 100% !important;
    margin: 0;
    overflow: inherit;
    .header-bg {
      &:after {
        display: none;
      }
    }
    .header-content {
      position: relative;
      float:left;
      width: 100%;
      height: 100%;
      color:$black;
      padding: 15px 15px 0;
      text-align: left;
      @media #{$screen-tablet} {
        padding: 20px 20px 0;
      }
      @media #{$screen-desktop} {
        padding: 30px 30px 0;
      }
      .field--name-field-title {
        font-size: 20px;
        text-transform: none;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp:3;
        -webkit-box-orient: vertical;
        line-height: 1;
        @media #{$screen-desktop} {
          font-size: 25px;
        }
      }
      .field--name-field-subtitle {
        font-size: 20px;
        margin-top:10px;
        @media #{$screen-desktop} {
          font-size: 25px;
        }
      }
    }
    .field--name-field-image {
      overflow: hidden;
      max-height: 192px;
      &:before {
        content: "";
        position: absolute;
        right: -1px;
        top:-2px;
        z-index: 1;
        border-top:45px solid #fff;
        border-left: 45px solid transparent;
        @media #{$screen-tablet} {
          right: 0;
          top:-1px;
        }
      }
      img {
        -webkit-transition: all .25s ease;
        -moz-transition: all .25s ease;
        -ms-transition: all .25s ease;
        -o-transition: all .25s ease;
        transition: all .25s ease;
        -webkit-backface-visibility: hidden;
        -moz-transform: translateZ(0) scale(1.0, 1.0);
        -o-transform: translateZ(0) scale(1.0, 1.0);
        -ms-transform: translateZ(0) scale(1.0, 1.0);
        -webkit-transform: translateZ(0) scale(1.0, 1.0);
        transform: translateZ(0) scale(1.0, 1.0);
      }
    }
  }
  .pager {
    margin:125px 0 55px;
    .pager__item {
      display: block !important;
      opacity: 1;
    }
    .button {
      text-indent: -9999px;
      width: 61px;
      height: 31px;
      background:url(../images/arrow_down_black.png) no-repeat center center;
      border:none;
      transition:all 0.5s ease-in-out;
      &:hover {
        transform: translateY(80%);
      }
      &:before,
      &:after {
        display: none;
      }
    }
  }
}

// LIKES DETAILPAGE
.node--type-like {
  .field--name-node-post-date {
    color: #fff;
    font-size: 16px;
    margin-bottom: 20px;
    @media #{$screen-tablet} {
      font-size: 20px;
      margin-bottom: 40px;
    }
  }
  .paragraph--type--header {
    .field--name-field-title {
      font-family: $font-family-bold;
      font-size: 30px;
      text-transform: none;
      @media #{$screen-tablet} {
        font-size: 45px;
      }
      @media #{$screen-desktop} {
        font-size: 55px;
      }
    }
    .field--name-field-subtitle {
      font-family: $font-family-base;
      font-size: 30px;
      margin-top: 5px;
      @media #{$screen-tablet} {
        font-size: 45px;
      }
      @media #{$screen-desktop} {
        font-size: 55px;
      }
    }
  }
  .paragraph--type--video,
  .paragraph--type--image {
    margin:0;
  }
  .paragraph--type--text {
    font-family: $font-family-light;
    text-align: left;
      h1,
      h2,
      h3,
      h4 {
      max-width: 940px;
      margin:35px auto 50px;
    }
    h1 {
      font-size: 40px;
      @media #{$screen-tablet} {
        font-size: 55px;
      }
    }
    h2 {
      font-size: 30px;
      @media #{$screen-tablet} {
        font-size: 45px;
      }
    }
    h3 {
      font-size: 25px;
      @media #{$screen-tablet} {
        font-size: 35px;
      }
    }
    h4 {
      font-size: 20px;
      @media #{$screen-tablet} {
        font-size: 26px;
      }
    }
  }
}

// LIKES HOMEPAGE
#block-views-block-likes-block-1 {
  background: url(../images/lines_bg.png) repeat-y center center;
  background-size: cover;
  padding: 100px 15px;
  @media #{$screen-tablet} {
    padding: 190px 15px 115px;
  }
  .block-title {
    font-family: $font-family-bold;
    font-size: 40px;
    color:$black;
    text-align: center;
    margin:0 0 50px;
    @media #{$screen-tablet} {
      font-size: 45px;
      margin:0 0 100px;
    }
    @media #{$screen-desktop} {
      font-size: 80px;
    }
    @media #{$screen-lg-desktop} {
      font-size: 100px;
    }
  }
  .view-footer {
    text-align: center;
    a {
      position: relative;
      display: inline-block;
      font-size: 20px;
      padding: 5px;
      color:#000000;
      background-image: linear-gradient(#000000, #000000);
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: 0% 100%;
      transition: background-size .5s, color .5s;
      margin-top:65px;
      @media #{$screen-tablet} {
        margin-top:125px;
        padding: 20px 42px;
      }
      &:hover {
        background-size: 100% 100%;
        color: #FFF;
        text-decoration: none;
        &:after {
          border-top: 30px solid transparent;
          border-left: 30px solid #000;
          border-bottom: 30px solid transparent;
        }
        &:before {
          border-top: 30px solid transparent;
          border-right: 30px solid #000;
          border-bottom: 30px solid transparent;
        }
      }
      &:before {
        background:url(../images/arrow_left_big.png) no-repeat left center;
        transition-delay: .4s;
      }
      &:after {
        background:url(../images/arrow_right_big.png) no-repeat right center;
        transition-delay: .4s;
      }
    }
  }
}
