// WORK OVERVIEW
.path-node-50 {
  .paragraph--type--campaign {
    margin:0 15px;
  }
  .paragraph--type--text {
    font-family: $font-family-semibold;
    text-align: center;
  }
  .footer {
    margin-top:-1.5px;
  }
}
#block-views-block-work-block-1 {
  .form-group {
    float:left;
    width: 100%;
    margin: 0;
  }
  .view-filters {
    text-align: right;
    padding-right: 15px;
    margin-bottom: 45px;
    @media #{$screen-tablet} {
      padding-right: 60px;
    }
    @media #{$screen-desktop} {
      padding-right: 95px;
    }
    .select-wrapper,
    select {
      cursor: pointer;
      min-height: 37px;
    }
  }
  .views-row {
    float:left;
    width: 100%;
    padding: 1.5px 0;
    cursor: default;
    @media #{$screen-tablet} {
      width: 33.33333%;
    }
    &:hover {
      .campaign-content {
        display: block;
      }
    }
    @media #{$screen-tablet} {
      &:nth-child(2),
      &:nth-child(5),
      &:nth-child(8),
      &:nth-child(11),
      &:nth-child(14),
      &:nth-child(17),
      &:nth-child(20),
      &:nth-child(23),
      &:nth-child(26),
      &:nth-child(29) {
        padding: 1.5px 3px;
      }
    }
    h3 {
      font-size: 15px;
      margin: 0 auto 20px;
      @media #{$screen-tablet} {
        margin: 0 auto 35px;
      }
    }
  }
  ul {
    padding: 0;
    margin: 0;
    li {
      list-style-type: none;
    }
  }
  .paragraph--type--campaign {
    font-size: 32px;
    margin: 0;
    max-height: 260px;
    overflow: hidden;
    .field--name-field-image {
      img {
        @media #{$screen-tablet} {
          min-height: 180px;
        }
        @media #{$screen-desktop} {
          min-height: 197px;
        }
      }
    }
    .campaign-content {
      display: none;
      width: 100%;
      height: 65%;
      @media #{$screen-tablet} {
        width: 81%;
      }
    }
    .field--name-field-subtitle {
      margin-top: 5px;
    }
    .field--name-field-button {
      margin-top:20px;
      overflow: hidden;
      @media #{$screen-tablet} {
        margin-top:40px;
      }
      a {
        font-size: 16px;
        padding: 10px 30px;
        margin:0 32px;
        @media #{$screen-tablet} {
          font-size: 17px;
          padding: 10px 30px;
        }
      }  
    }
  }
  .field--name-field-scroll-down {
    display: none !important;
  }
}

// WORK DETAILPAGE
.page-node-type-project {
  .paragraph--type--campaign {
    margin: 0 15px;
    .field--name-field-button {
      display: none;
    }
  }
  .paragraph--type--text {
    font-family: $font-family-light;
    text-align: left;
    h1,
    h2,
    h3,
    h4 {
      max-width: 940px;
      margin:35px auto 50px;
    }
    h1 {
      font-size: 40px;
      @media #{$screen-tablet} {
        font-size: 55px;
      }
    }
    h2 {
      font-size: 30px;
      @media #{$screen-tablet} {
        font-size: 45px;
      }
    }
    h3 {
      font-size: 25px;
      @media #{$screen-tablet} {
        font-size: 35px;
      }
    }
    h4 {
      font-size: 20px;
      @media #{$screen-tablet} {
        font-size: 26px;
      }
    }
  }
}