$font-name: "ProximaNova Regular";
@font-face{
	font-family:"ProximaNova Regular";
	src:url("../fonts/ProximaNova-Regular.eot?#iefix");
	src:url("../fonts/ProximaNova-Regular.eot?#iefix") format("eot"),url("../fonts/ProximaNova-Regular.woff") format("woff"),url("../fonts/ProximaNova-Regular.ttf") format("truetype"),url("../fonts/ProximaNova-Regular.svg") format("svg");
  font-weight: normal;
	font-style: normal;
}

$font-name: "ProximaNova Light";
@font-face{
	font-family:"ProximaNova Light";
	src:url("../fonts/ProximaNova-Light.eot?#iefix");
	src:url("../fonts/ProximaNova-Light.eot?#iefix") format("eot"),url("../fonts/ProximaNova-Light.woff") format("woff"),url("../fonts/ProximaNova-Light.ttf") format("truetype"),url("../fonts/ProximaNova-Light.svg") format("svg");
  font-weight: normal;
	font-style: normal;
}

$font-name: "ProximaNova Medium";
@font-face{
	font-family:"ProximaNova Medium";
	src:url("../fonts/ProximaNova-Medium.eot?#iefix");
	src:url("../fonts/ProximaNova-Medium.eot?#iefix") format("eot"),url("../fonts/ProximaNova-Medium.woff") format("woff"),url("../fonts/ProximaNova-Medium.ttf") format("truetype"),url("../fonts/ProximaNova-Medium.svg") format("svg");
  font-weight: normal;
	font-style: normal;
}

$font-name: "ProximaNova Bold";
@font-face{
	font-family:"ProximaNova Bold";
	src:url("../fonts/ProximaNova-Bold.eot?#iefix");
	src:url("../fonts/ProximaNova-Bold.eot?#iefix") format("eot"),url("../fonts/ProximaNova-Bold.woff") format("woff"),url("../fonts/ProximaNova-Bold.ttf") format("truetype"),url("../fonts/ProximaNova-Bold.svg") format("svg");
  font-weight: normal;
	font-style: normal;
}

$font-name: "ProximaNova Semibold";
@font-face{
	font-family:"ProximaNova Semibold";
	src:url("../fonts/ProximaNova-Semibold.eot?#iefix");
	src:url("../fonts/ProximaNova-Semibold.eot?#iefix") format("eot"),url("../fonts/ProximaNova-Semibold.woff") format("woff"),url("../fonts/ProximaNova-Semibold.ttf") format("truetype"),url("../fonts/ProximaNova-Semibold.svg") format("svg");
  font-weight: normal;
	font-style: normal;
}

$font-name: "ProximaNova Extrabold";
@font-face{
	font-family:"ProximaNova Extrabold";
	src:url("../fonts/ProximaNova-Extrabld.eot?#iefix");
	src:url("../fonts/ProximaNova-Extrabld.eot?#iefix") format("eot"),url("../fonts/ProximaNova-Extrabld.woff") format("woff"),url("../fonts/ProximaNova-Extrabld.ttf") format("truetype"),url("../fonts/ProximaNova-Extrabld.svg") format("svg");
  font-weight: normal;
	font-style: normal;
}