.button {
  position: relative;
  display: inline-block;
  font-size: 20px;
  padding: 5px;
  color:#FFFFFF;
  background-image: linear-gradient(#FFFFFF, #FFFFFF);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 0% 100%;
  transition: background-size .5s, color .5s;
  @media #{$screen-tablet} {
    font-size: 25px;
    padding: 17px 42px;
  }
  &:hover,
  &:focus {
    background-size: 100% 100%;
    color: #000;
    text-decoration: none;
    &:after {
      border-top: 30px solid transparent;
      border-left: 30px solid #fff;
      border-bottom: 30px solid transparent;
    }
    &:before {
      border-top: 30px solid transparent;
      border-right: 30px solid #fff;
      border-bottom: 30px solid transparent;
    }
  }
  &:before {
    content:"";
    position: absolute;
    left: -32px;
    top:0;
    bottom: 0;
    margin: auto;
    width: 33px;
    height: 63px;
    background:url(../images/arrow_left_big_white.png) no-repeat left center;
    transition-delay: .4s;
  }
  &:after {
    content:"";
    position: absolute;
    right: -31px;
    top:0;
    bottom: 0;
    margin: auto;
    width: 33px;
    height: 63px;
    background:url(../images/arrow_right_big_white.png) no-repeat right center;
    transition-delay: .4s;
  }
}

.field--name-field-button {
  display: inline-block;
  overflow: hidden;
  a {
    position: relative;
    display: inline-block;
    font-size: 20px;
    padding: 5px;
    margin: 0 32px;
    color:#FFFFFF;
    background-image: linear-gradient(#FFFFFF, #FFFFFF);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 0% 100%;
    transition: background-size .5s, color .5s;
    @media #{$screen-tablet} {
      font-size: 25px;
      padding: 17px 42px;
    }
    &:hover,
    &:focus {
      background-size: 100% 100%;
      color: #000;
      text-decoration: none;
      &:after {
        border-top: 30px solid transparent;
        border-left: 30px solid #fff;
        border-bottom: 30px solid transparent;
      }
      &:before {
        border-top: 30px solid transparent;
        border-right: 30px solid #fff;
        border-bottom: 30px solid transparent;
      }
    }
    &:before {
      content:"";
      position: absolute;
      left: -32px;
      top:0;
      bottom: 0;
      margin: auto;
      width: 33px;
      height: 63px;
      background:url(../images/arrow_left_big_white.png) no-repeat left center;
      transition-delay: .4s;
    }
    &:after {
      content:"";
      position: absolute;
      right: -31px;
      top:0;
      bottom: 0;
      margin: auto;
      width: 33px;
      height: 63px;
      background:url(../images/arrow_right_big_white.png) no-repeat right center;
      transition-delay: .4s;
    }
  }
}

// Scroll to top button
#back-to-top {
  display: none !important;
  position: fixed;
  bottom:40px;
  right: 15px;
  z-index: 999;
  background:transparent url(../images/back-to-top.png) no-repeat center center;
  width: 25px;
  height: 25px;
  float: left;
  text-indent: -9999px;
  transition-delay: 0.15s;
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
  @media #{$screen-tablet} {
    right: 60px;
  }
  @media #{$screen-desktop} {
    right: 95px;
  }
  &:hover {
    transform: translateY(-40%);
  }
  &.show {
    display: block !important;
    opacity: 1;
  }
}

// Newsletter button
#block-newslettersignup {
  .field--name-field-button {
    margin-top: 10px;
    a {
      color: #fff;
      padding: 5px;
      @media #{$screen-tablet} {
        padding: 17px 42px;
      }
      &:hover {
        color: #000;
        &:after {
          border-top: 30px solid transparent;
          border-left: 30px solid #fff;
          border-bottom: 30px solid transparent;
        }
        &:before {
          border-top: 30px solid transparent;
          border-right: 30px solid #fff;
          border-bottom: 30px solid transparent;
        }
      }
      &:before {
        background:url(../images/arrow_left_big_white.png) no-repeat left center;
        transition-delay: .4s;
      }
      &:after {
        background:url(../images/arrow_right_big_white.png) no-repeat right center;
        transition-delay: .4s;
      }
    }
  }
}