.button {
  display: inline-block;
  font-size: 25px;
  padding: 16px 75px;
}

.field--name-field-button {
  a {
    display: inline-block;
    font-size: 25px;
    padding: 16px 75px;
  }
}

// Scroll to top button
#back-to-top {
  display: none !important;
  position: fixed;
  bottom:40px;
  right: 95px;
  z-index: 9999;
  background:transparent url(../images/back-to-top.png) no-repeat center center;
  width: 25px;
  height: 25px;
  float: left;
  text-indent: -9999px;
  transition-delay: 0.15s;
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
  &:hover {
    transform: translateY(-40%);
  }
  &.show {
    display: block !important;
    opacity: 1;
  }
}