/**
 * Form styles.
 */
 
// Newsletter
#mc_embed_signup {
  form {
    font-family: $font-family-medium;
    max-width: 590px;
    margin: auto;
    padding: 125px 0 55px !important;
    color: #fff;
    text-align: center !important;
    h2 {
     font-family: $font-family-semibold;
     font-size: 30px;
     color: #FFF;
     text-transform: none;
     margin-bottom: 45px !important;
    }
    p {
      margin-bottom: 40px;
    }
  }
  .mc-field-group {
    width: 100% !important;
    padding-bottom: 15px !important;
    input {
      width: 95% !important;
      margin: 0 auto;
      @media #{$screen-tablet} {
        width: 100% !important;
      }
    }
  }
}
.form-control {
  font-family: $font-family-base;
  background-color: $gray-darker;
  color:$gray;
  font-size: 25px;
}
label {
  font-family: $font-family-base;
  font-size: 25px;
  font-weight: normal;
  margin:0 !important;
}
input {
  font-family: $font-family-base;
  background-color: $gray-darker;
  color:$gray;
  padding:16px 30px !important;
  text-indent: 0 !important;
  border:none !important;
  border-radius: 0 !important;
}

// LOGIN FORM
.path-user-login {
  background-color: #F3F3F3;
  .main-container {
    padding-top: 150px;
    min-height:600px;
    .user-login-form {
      max-width: 400px;
      margin: 0 auto;
    }
  }
}


// Checkboxes / radio buttons.
.checkbox, .radio {
  // Remove top/bottom margins when in table context, because this is most
  // likely a tableselect checkbox element.
  table &.form-no-label {
    margin-bottom: 0;
    margin-top: 0;
  }
}

// Browsers do not recognize pseudo :after selectors, we must create a wrapper
// around the select element to style it properly.
// $see http://stackoverflow.com/q/21103542
.select-wrapper {
  display: inline-block;
  position: relative;
  width: 100%;
  .form-inline & {
    width: auto;
  }
  .input-group & {
    display: table-cell;
    // Reset rounded corners
    &:first-child .form-control:first-child {
      @include border-left-radius($border-radius-base);
    }
    &:last-child .form-control:first-child {
      @include border-right-radius($border-radius-base);
    }
  }
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    line-height: 1;
    padding-right: 2em;
    &::-ms-expand {
      opacity: 0;
    }
    &.form-control {
      background-color: transparent;
      color: #000;
      border:none;
      box-shadow: none;
    }
  }
  &:after {
    background: url(../images/arrow_down_small_black.png) no-repeat right center;
    content: "";
    position: absolute;
    right: 0;
    top: 12px;
    z-index: -99;
    width: 20px;
    height:11px;

    // Use a more stylish icon if the theme uses glyphicons.
    .has-glyphicons & {
    }
    .has-error & {
      color: $state-danger-text;
    }
    .has-success & {
      color: $state-success-text;
    }
    .has-warning & {
      color: $state-warning-text;
    }
  }
}

// Use CSS/SVG image for required mark.
// @see https://www.drupal.org/node/2152217
// @see https://www.drupal.org/node/2274631
.form-required:after {
  background-image: url(../images/required.svg);
  background-size: 10px 7px;
  content:"";
  display: inline-block;
  line-height:1;
  height: 7px;
  width: 10px;
}

// Form action buttons.
.form-actions {
  .btn, .btn-group {
    
  }
  .btn-group {
    .btn {
      
    }
  }
}
