.navbar {
  position: absolute;
  top:0;
  left:0;
  z-index: 99;
  width: 100%;
  background-color: transparent;
  border-color: transparent;
  .logo {
    display: block;
    margin:45px 0 0 80px;
  }
}

// Navbar admin tabs
.user-logged-in {
  .nav-tabs {
    position: relative;
    z-index: 99;
  }
}

