// Paragraphs
.paragraph {
  margin:0 15px;
  
  .field--name-field-title,
  .field--name-field-subtitle {
    line-height: 0.9;
  }
  .field--name-field-text {
    p {
      line-height: 1.4;
    }
  }
}
.field--item:first-child {
  .paragraph {
    margin-top:15px;
  }
}

// Header paragraph
.paragraph--type--header {
  position: relative;
  color:#FFF;
  margin: 0 15px;
  video {
    width: 100% !important;
    height: 100% !important;
  }
  img {
    width: 100%;
  }
  .header-bg {
    &:after {
      content: "";
      position: absolute;
      top:0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,0.1);
    }
  }
  .header-content {
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right: 0;
    width: 100%;
    height: 50%;
    margin: auto;
    text-align: center;
    @media #{$screen-tablet} {
      width: 80%;
    }
    @media #{$screen-desktop} {
      width: 70%;
    }
    @media #{$screen-lg-desktop} {
      width: 60%;
    }
    .field--name-field-title {
      font-family: $font-family-extrabold;
      font-size: 110px;
      text-transform: uppercase;
    }
    .field--name-field-subtitle {
      font-family: $font-family-semibold;
      font-size: 30px;
      margin-top:60px;
    }
    .field--name-field-subtitle2 {
      margin-top:30px;
    }
    .field--name-field-button {
      display: none;
      @media #{$screen-tablet} {
        display: inline-block;
        margin-top:20px;
      }
      @media #{$screen-desktop} {
        margin-top:40px;
      }
      @media #{$screen-lg-desktop} {
        margin-top: 100px;
      }
      a {
        color: #fff;
        &:hover {
          color: #000;
        }
      }
    }
  }
  .field--name-field-scroll-down {
    display: none !important;
    opacity: 1;
    @media #{$screen-tablet} {
      display: block !important;
    }
    a {
      position: absolute;
      bottom: 50px;
      left:0;
      right: 0;
      margin: auto;
      width: 98px;
      height: 48px;
      background:url(../images/arrow_down.png) no-repeat center center;
      float:left;
      text-indent: -9999px;
      transition:all 0.5s ease-in-out;
      &:hover {
        transform: translateY(30%);
      }
    }
  }
}

// Text paragraph
.paragraph--type--text {
  font-family: $font-family-semibold;
  text-align: center;
  padding: 100px 0;
  .container {
    padding: 0;
    @media #{$screen-tablet} {
      padding: 0 15px;
    }
  }
  .small {
    font-size: 20px;
    text-transform: uppercase;
  }
  h2 {
    font-family: $font-family-extrabold;
    margin:35px auto 50px;
  }
  p,
  ul {
    max-width: 940px;
    margin:0 auto 20px;
  }
  a {
    text-decoration: underline;
  }
  .button {
    text-decoration: none;
    position: relative;
    overflow: hidden;
    display: inline-block;
    font-size: 20px;
    padding: 16px 42px;
    margin:50px 31px 0;
    @media #{$screen-tablet} {
      font-size: 25px;
      margin:100px 31px 0;
    }
    @media #{$screen-desktop} {
      margin:145px 31px 0;
    }
    &:hover {
      background-color: #000;
      color: #fff;
      text-decoration: none;
      &:after {
        border-top: 30px solid transparent;
        border-left: 30px solid #000;
        border-bottom: 30px solid transparent;
      }
      &:before {
        border-top: 30px solid transparent;
        border-right: 30px solid #000;
        border-bottom: 30px solid transparent;
      }
    }
    &:before {
      content:"";
      position: absolute;
      left: 0;
      top:0;
      bottom: 0;
      margin: auto;
      width: 33px;
      height: 63px;
      background:url(../images/arrow_left_big.png) no-repeat left center;
    }
    &:after {
      content:"";
      position: absolute;
      right: 0;
      top:0;
      bottom: 0;
      margin: auto;
      width: 33px;
      height: 63px;
      background:url(../images/arrow_right_big.png) no-repeat right center;
    }
  }
}

// Campaign paragraph 
.paragraph--type--campaign {
  position: relative;
  color:#FFF;
  font-size: 30px;
  margin: 0;
  @media #{$screen-tablet} {
    font-size: 50px;
  }
  @media #{$screen-desktop} {
    font-family: 80px;
  }
  video {
    width: 100% !important;
    height: 100% !important;
  }
  .campaign-bg {
    &:after {
      content: "";
      position: absolute;
      top:0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,0.1);
    }
  }
  .campaign-content {
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right: 0;
    width: 100%;
    height: 60%;
    margin: auto;
    text-align: center;
    @media #{$screen-tablet} {
      width: 60%;
      height: 50%;
    }
    h3 {
      font-family: $font-family-base;
      color: #fff;
      font-size: 16px;
      margin:0 auto 20px;
      @media #{$screen-tablet} {
        font-size: 20px;
        margin: 0 auto 45px;
      }
    }
    a {
      float: left; 
      color: #FFF;
      font-size: 20px;
      @media #{$screen-tablet} {
        font-size: 25px;
      }
    }
  }
  .field--name-field-image {
    img {
      width: 100%;
    }
  }
  .field--name-field-subtitle {
    font-family:$font-family-extrabold;
    margin-top: 10px;
    @media #{$screen-tablet} {
      margin-top:15px;
    }
  }
  .field--name-field-button {
    margin-top: 15px;
    @media #{$screen-tablet} {
      margin-top:50px;
    }
    @media #{$screen-desktop} {
      margin-top: 80px;
    }
  }
  .field--name-field-scroll-down {
    display: block !important;
    opacity: 1;
    a {
      position: absolute;
      bottom: 15px;
      left:0;
      right: 0;
      margin: auto;
      width: 61px;
      height: 31px;
      background:url(../images/arrow_down_small.png) no-repeat center center;
      float:left;
      text-indent: -9999px;
      @media #{$screen-tablet} {
        bottom: 50px;
      }
      &:hover {
        transform: translateY(30%);
      }
    }
  }
}

// Clients paragraph
.paragraph--type--client {
  background-color: $gray-light;
  text-align: center;
  margin: 0;
  padding: 130px 0 100px;
  h3 {
    font-family: $font-family-base;
    font-size: 20px;
    margin: 0;
  }
  .field--name-field-title {
    font-family: $font-family-bold;
    font-size: 40px;
    color: $black;
    text-transform: uppercase;
    margin:40px 0 50px;
    @media #{$screen-tablet} {
      font-size: 45px;
      margin:45px 0 55px;
    }
    @media #{$screen-desktop} {
      font-size: 80px;
      margin:90px 0 55px;
    }
    @media #{$screen-lg-desktop} {
      font-size: 100px;
    }
  }
  .field--name-field-text {
    font-family: $font-family-medium;
    span {
      font-family: $font-family-base;
    }
  }
  .field--name-field-clients {
    float:left;
    width: 100%;
    padding: 10px 0 30px;
  }
  .client {
    float:left;
    width: 50%;
    @media #{$screen-tablet} {
      width: 20%;
    }
    h2 {
      display: none;
    }
    .content {
      position: relative;
      margin: 50px 0;
      .field--name-field-logo-hover {
        display:none;
      }
      img {
        -webkit-transition: all .25s ease;
        -moz-transition: all .25s ease;
        -ms-transition: all .25s ease;
        -o-transition: all .25s ease;
        transition: all .25s ease;
      }
    }
  }
  .field--name-field-extra-text {
    font-family: $font-family-medium;
  }
}

// Two column text paragraph
.paragraph--type--two-column-text {
  padding: 100px 15px;
  margin: auto;
  @media #{$screen-tablet} {
    padding: 160px 0;
  }
  .field--name-field-title {
    font-family: $font-family-medium;
    font-size: 40px;
    text-align: center;
    margin-bottom: 10px;
  }
  .field--name-field-subtitle {
    font-family: $font-family-bold;
    font-size: 40px;
    text-align: center;
    margin-bottom: 50px;
    @media #{$screen-tablet} {
      margin-bottom: 90px;
    }
  }
  .field--name-field-left-column {
    font-family: $font-family-light;
    float:left;
    width: 100%;
    @media #{$screen-tablet} {
      width: 50%;
      padding-right: 25px;
    }
    @media #{$screen-desktop} {
      padding-right: 50px;
    }
    a {
      text-decoration: underline;
    }
    h1 {
      font-size: 40px;
      @media #{$screen-tablet} {
        font-size: 55px;
      }
    }
    h2 {
      font-size: 30px;
      @media #{$screen-tablet} {
        font-size: 45px;
      }
    }
    h3 {
      font-size: 25px;
      @media #{$screen-tablet} {
        font-size: 35px;
      }
    }
    h4 {
      font-size: 20px;
      @media #{$screen-tablet} {
        font-size: 26px;
      }
    }
  }
  .field--name-field-right-column {
    font-family: $font-family-light;
    float:left;
    width: 100%;
    @media #{$screen-tablet} {
      width: 50%;
      padding-left: 25px;
    }
    @media #{$screen-desktop} {
      padding-left: 50px;
    }
    a {
      text-decoration: underline;
    }
    h1 {
      font-size: 40px;
      @media #{$screen-tablet} {
        font-size: 55px;
      }
    }
    h2 {
      font-size: 30px;
      @media #{$screen-tablet} {
        font-size: 45px;
      }
    }
    h3 {
      font-size: 25px;
      @media #{$screen-tablet} {
        font-size: 35px;
      }
    }
    h4 {
      font-size: 20px;
      @media #{$screen-tablet} {
        font-size: 26px;
      }
    }
  }
}

// Video paragraph 
.paragraph--type--video  {
  position: relative;
  clear:left;
  padding: 100px 0;
  @media #{$screen-tablet} {
    padding: 150px 0;
  }
  @media #{$screen-desktop} {
    padding: 195px 0 180px;
  }
  .video-embed-field-responsive-video {
    max-height: 675px;
    overflow: hidden;
    margin: 0;
  }
  iframe {
    width: 100%;
    max-height: 675px;
    margin: auto;
    @media #{$screen-tablet} {
      width: 80%;
    }
  }
  .field--name-field-caption {
    position: absolute;
    left:15px;
    bottom: 15px;
    font-family: $font-family-light;
    font-size: 20px;
    color:#FFF;
    @media #{$screen-tablet} {
      left:60px;
      bottom: 50px;
    }
    @media #{$screen-desktop} {
      left: 95px;
    }
  }
}

// Image paragraph 
.paragraph--type--image {
  position: relative;
  .field--name-field-image {
    position: relative;
    &:after {
      content: "";
      position: absolute;
      top:0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,0.1);
    }
    img {
      width: 100%;
    }
  }
  .field--name-field-caption {
    position: absolute;
    left:15px;
    bottom: 15px;
    font-family: $font-family-light;
    font-size: 20px;
    color:#FFF;
    @media #{$screen-tablet} {
      left: 60px;
      bottom:50px;
    }
    @media #{$screen-desktop} {
      left: 95px;
    }
  }
}

// Project results paragraph
.paragraph--type-project-results {
  margin: auto;
  padding: 100px 0;
  @media #{$screen-tablet} {
    padding: 160px 0 205px;
  }
  .group-header {
    text-align: center;
    margin-bottom: 100px;
    @media #{$screen-tablet} {
      margin-bottom: 150px;
    }
    h3 {
      font-family: $font-family-medium;
      font-size: 40px;
      margin: 0 0 10px;
      text-transform: none;
    }
    .field--name-field-title {
      font-family: $font-family-bold;
      font-size: 40px;
    }
  }
  .group-left {
    width:100%;
    padding: 0 15px;
    @media #{$screen-tablet} {
      width: 40%;
    }
    .field--label {
      font-family: $font-family-light;
      font-size: 20px;
      @media #{$screen-tablet} {
        font-size: 30px;
      }
      &:after {
        content:":";
      }
    }
    .field--item {
      font-family: $font-family-bold;
      font-size: 26px;
      @media #{$screen-tablet} {
        font-size: 35px;
      }
    }
    .field {
      margin-bottom: 20px;
      @media #{$screen-tablet} {
        margin-bottom: 50px;
      }
    }
  }
  .group-right {
    width: 100%;
    font-family: $font-family-light;
    font-size: 20px;
    text-align: left;
    padding: 0 15px;
    @media #{$screen-tablet} {
      width: 60%;
      font-size: 30px;
    }
    .intro {
      font-size: 20px;
      @media #{$screen-tablet} {
        font-size: 30px;
      }
    }
  }
}