#wrapper{
  display: none;
}
#preloader {
  &.loaded {
    height: 100vh;
    overflow: hidden;
    width: 400%;
    -webkit-animation: diamond 2s;
    animation: diamond 2s;
    -webkit-transform: scale(0) rotate(45deg);
    transform: scale(0) rotate(45deg);
    background: #000;
    position: absolute;
    z-index: 99999;
  }
}
@-webkit-keyframes
diamond {  0% {
  -webkit-transform: rotate(45deg) scale(0);
  transform: rotate(45deg) scale(0);
}
  50% {
    -webkit-transform: rotate(45deg) scale(6);
    transform: rotate(45deg) scale(6);
  }
  100% {
    -webkit-transform: rotate(45deg) scale(0);
    transform: rotate(45deg) scale(0);
  }
}
@keyframes
diamond {  0% {
  -webkit-transform: rotate(45deg) scale(0);
  transform: rotate(45deg) scale(0);
}
  50% {
    -webkit-transform: rotate(45deg) scale(6);
    transform: rotate(45deg) scale(6);
  }
  100% {
    -webkit-transform: rotate(45deg) scale(0);
    transform: rotate(45deg) scale(0);
  }
}